<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Main Page Style Sheet -->
  <!-- <link rel="stylesheet" type="text/css" href="/styles/map_display.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- Regular Text Font: -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<!-- <h1> Your New Map Text Style: -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

<!-- All Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<!-- Single_Map Styling-->
<link rel="stylesheet" type="text/css" href="/styles/single_map.css">
<!-- Header Styling -->
<link rel="stylesheet" href="/styles/_header.css" type="text/css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,300;0,400;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,300;0,400;1,900&family=Oxygen:wght@700&display=swap" rel="stylesheet">

  <title>Single Map: View</title>
  <style>
    #map {
        height: 825px;
        width: 80%;
    }
  </style>
<!-- Requiring jQuery from host server -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="scripts/create_map.js"></script> -->
<script type="text/javascript" src="/scripts/_header.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('./_header'); %>
  <div id = 'headerAboveMap'>
  </div>

  <div id='mapAndForms'>
    <!-- Map -->
    <div id="map">
    </div>

    <div id = 'rightOfMap'>
    <div id = 'mainMapTitle'><%= queryObj[0].map_title %></div>
    <br>
    <div id = 'mainMapDescription'><b>Description:</b> <%= queryObj[0].map_desc %></div>
    <br>
    <div id = 'mapOwner'>Owner: <%= queryObj[0].owner %></div>

    <!-- This is where all saved points are displayed -->
    <table id="pointsList">
    </table>

    <% if (user) { %>
    <!-- Maps Delete -->
    <!-- Maps Edit (Leads to adding or deleting pins on the selected map) -->
    <div id = 'editDeleteButtons'>
    <form id='edit-map' method='GET' ACTION='/api/maps/<%= queryObj[0].map_id %>/edit'>
      <button type='submit'>EDIT MAP</button>
    </form>
    <form id='delete-map' method='POST' ACTION='/api/maps/<%= queryObj[0].map_id %>/delete'>
      <button type='submit'>DELETE MAP</button>
    </form>
    </div>

    <% } else { %>
    <% } %>
    </div>
  </div>

  <!-- This is where the individual marker coords are displayed and fetched for the generation of each markers array element -->
  <div id="marker_coords">
  </div>

  <!-- SCRIPTS -->
<script>

  const queryData = <%- JSON.stringify(queryObj) %> //passes query object (templateVars) to <script> and allows us to use it in our JS. I DO NOT KNOW WHY THIS IS ERRORED, code works fine with nothing consoling with issues

  //Array of markers
  const markers = [];

  // code to take queryData from server and for loop to display markers
  for (let points of queryData) {
    markers.push({coordinates: {lat: Number(points.latitude), lng: Number(points.longitude)}, pointTitle: points.title.toString(), pointDescription: points.description.toString(), category: points.category.toString(), content: points.title, pointImage: points.point_image});
  }
    // Initializes the Google map based on currently hard-coded lat, long values
    function initMap() {
      //set up initial map for New Orleans as default
      const options = {  // Creates map options to add to the default map.
          zoom:14,
          center:{lat:51.0447,lng:-114.0719}
      }
      //let map = new google.maps.Map(document.getElementById('map'), options); //Creates the map and includes the options.
      let map = new google.maps.Map(document.getElementById('map'), options); //Creates the map and includes the options.

      // Loop through markers
      for(var i = 0;i < markers.length;i++) {
          selectMarkers(markers[i]);
      }

      generatePointsList(markers);

      function selectMarkers(props) {
        const iconImage = iconSelector(props.category);

              const marker = new google.maps.Marker({
              position:props.coordinates,
              map:map,
              icon:iconImage
          });

          if(props.iconImage) {  //Check for custom icon
            marker.setIcon(props.iconImage); //Set icon image
          }

          if(props.content) { //Check content
            let infoWindow = new google.maps.InfoWindow({
              content:props.content
            });

            marker.addListener('click', function() {
              infoWindow.open(map,marker);
            });
          }
      }
  }
</script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMNp3SzabTd8aZW6jzofga5kNv8K6sy9U&callback=initMap">
  </script>

</body>
</html>
